* {
  background-color: #000;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.about-section {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  color: grey;
  height: 10rem;
  width: 100%;
  
}
.content {
  grid-column: 2/3;
  align-content: center;
  margin-top: 6rem;
}

.content p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 30px;
}
.certifications {
  grid-column: 2/3;
  text-align: center;
  margin-top: 3rem;
}
.image img {
    
    margin-top: 2rem;
  height: 400px;
  width: 600px;
}
.certifications h3{
    margin-top: 6rem;
    font-family: Arial, Helvetica, sans-serif;
}
.copyright{
  grid-column: 2/3;
  margin-top: 5rem;
}
.copyright p2{
  text-align: center;

}
.copyright{
  text-align: center;
}


@media screen and (max-width: 680px){
 .about-section{
  
  
width: 100%;


  
 
}
.content{
  
  

}
.certifications img{
  width: 100%;
  height: 100%;
}




}