/* ##############defaults##################### */

nav,
header,
footer {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
  height: 100%;
}

/* ###############body##################### */
.main-body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100%;
  
  background-position: center;
  background-image: url("media/bg2\ .jpg");
  
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;

  
}

.container {
  margin-top: 4rem;
  display: inline-block;
  color: azure;
  grid-column: 2/3;
}
.container h1 {
  text-align: center;
}
.container h2 {
  text-align: center;
}

/* ################NavBar#################### */
nav {
  
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  box-sizing: border-box;
}

nav ul {
  background-color: grey;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topnav li {
  list-style: none;
  float: right;
}

ul.topnav li a {
  text-decoration: none;
  background-color: grey;
  display: block;
  min-height: 16px;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font: bolder;
  color: rgb(54, 54, 54);
}

ul.topnav li a:hover {
  background-color: black;
  color: silver;
}

/* ################NavBar#################### */

/* #############animation################### */
.animation img {
  width: 150px;

  animation: codes 7s linear infinite;
}

.animation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -10px;
}

@keyframes codes {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.animation img:nth-child(1) {
  animation-delay: 2s;
}

.animation img:nth-child(2) {
  animation-delay: 6s;
}

.animation img:nth-child(3) {
  animation-delay: 2.5s;
}

.animation img:nth-child(4) {
  animation-delay: 4s;
}

.animation img:nth-child(5) {
  animation-delay: 3.5s;
}

.animation img:nth-child(6) {
  animation-delay: 1s;
}

/* ###################animation#####################*/
/* ##############################footer##################### */

.footer {
  background-color: gray;
  display: grid;
 grid-template-columns: 50% 50%;
}
.footer h4{
    text-align: center;
    color: silver;
}
.social {
padding-left: 10rem;    
    display: inline-block;
    
}
.social ul {
    text-align: center;
    list-style: none;
    display: inline-block;
    
}
.social ul li a{
    
    text-decoration: none;
    color: silver;
    font-family: 'Times New Roman', Times, serif;
}
/* ########################mobile######################## */

@media screen and (max-width: 680px) {
  *{
    
  }
    .topnav {
    display: grid;
    grid-template-columns:auto auto;
    
    width: 100%;

  }

  .container {
    display: grid;
    /* grid-template-columns: auto; */
max-width: 680px;  
}
  .container h1 {
    /* text-align: center; */
  }
  .container h2{
    /* text-align: center; */
    /* margin-top: 1em; */
  }
  .animation{
width: 25%;   
}
.footer{
    display: grid;
    grid-template-columns: auto;
}



}
